amqp==2.5.2
anyjson==0.3.3
appnope==0.1.0
astroid==2.4.1
attrs==19.3.0
autopep8==1.5
backcall==0.1.0
billiard==3.6.2.0
biopython==1.76
bleach==3.1.3
celery==4.4.0
celery-progress==0.0.9
certifi==2019.11.28
decorator==4.4.2
defusedxml==0.6.0
Django==2.2.7
django-admin-easy==0.6
django-admin-sortable2==0.7.6
django-cacheops==4.2
django-celery-results==1.2.0
django-ckeditor==5.8.0
django-colorfield==0.1.15
django-debug-toolbar==2.1
django-debug-toolbar-request-history==0.1.0
django-durationwidget==1.0.5
django-extensions==2.2.9
django-filter==2.2.0
git+https://github.com/jsoa/django-easy-audit.git@crud_event_object_id_charfield
django-inline-actions==2.3.0
django-jet==1.0.8
django-jinja==2.6.0
django-jinja-knockout==0.9.0
django-js-asset==1.2.2
django-model-utils==3.2.0
django-mptt==0.10.0
django-nested-inline==0.4.0
django-preferences==1.0.0
django-redis==4.10.0
django-seed==0.1.9
django-taggit==1.2.0
django-tagulous==0.14.1
djangorestframework==3.10.3
djangorestframework-datatables==0.5.2
djangorestframework-filters==0.11.1
ensure==1.0.0
entrypoints==0.3
et-xmlfile==1.0.1
Faker==2.0.4
feedparser==5.2.1
funcy==1.14
importlib-metadata==1.5.0
inclusive-django-range-fields==0.2.3
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.0
jupyter-console==6.1.0
jupyter-core==4.6.3
kombu==4.6.7
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.17.4
openpyxl==3.0.3
pandas==1.0.4
pandocfilters==1.4.2
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.4
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pycodestyle==2.5.0
Pygments==2.6.1
pylint==2.5.2
pyrsistent==0.15.7
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.8
python-utils==2.3.0
pytz==2019.3
pyzmq==19.0.0
qcloudsms-py==0.1.4
qtconsole==4.7.1
QtPy==1.9.0
redis==3.3.11
Send2Trash==1.5.0
sentry-sdk==0.13.4
six==1.13.0
sqlparse==0.3.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
ujson==1.35
Unidecode==1.1.1
urllib3==1.26.5
uWSGI==2.0.18
vine==1.3.0
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==2.2.0
django-import-export==2.7.1